<h5>Buy printed program ads online and support the arts.</h5>
    <div class="row">
    <br>
    <br>
      <div class="col s4">
        <div class="glyphicon glyphicon-search"></div>
        <div class='tab-copy'>Search for available ads. Consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-cloud-upload"></div>
        <div class='tab-copy'>Purchase and upload ad images online. Consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-signal"></div>
        <div class='tab-copy'>Raise awareness. Consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
