<h5>Easily promote and manage playbill ads all in one place.</h5>
    <div class="row">
    <br>
    <br>
      <div class="col s4">
        <div class="glyphicon glyphicon-list"></div>
        <div class='tab-copy'>List your available program ads. Consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-download"></div>
        <div class='tab-copy'>Manage and download purchased ad images. Consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-usd"></div>
        <div class='tab-copy'>Earn money from ad sales. Consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
