<h5>Buy printed program ads online and support the arts.</h5>
    <div class="row">
    <br>
    <br>
      <div class="col s4">
        <div class="glyphicon glyphicon-search"></div>
        <div class='tab-copy'>Search for available ads through a complete list of events currently listed on the application.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-cloud-upload"></div>
        <div class='tab-copy'>Purchase and upload ad images directly from your computer without any degradation in quality.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-signal"></div>
        <div class='tab-copy'>Raise awareness for your local business to help broaden your consumer base.</div>
      </div>
    </div>
