<h5>Easily promote and manage playbill ads all in one place.</h5>
    <div class="row">
    <br>
    <br>
      <div class="col s4">
        <div class="glyphicon glyphicon-list"></div>
        <div class='tab-copy'>List your available program ads. Track the progress of ad sales for each event listing.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-download"></div>
        <div class='tab-copy'>Manage and download purchased ad images stored directly on Amazon's Cloud Service.</div>
      </div>
      <div class="col s4">
        <div class="glyphicon glyphicon-usd"></div>
        <div class='tab-copy'>Monitor the ad sales from your dashboard, both day to day and total revenue earned.</div>
      </div>
    </div>
