<div class='hero'>
  <div class='headline'>Playbill ad sales, simplified.</div>
  <div class='sub-headline'>Playbillify makes it easy for arts organizations to raise funds through program ads and for local businesses to reach customers out and about in their community.</div>
  <div class='buttons'>
    <a class="waves-effect waves-light btn">Get Started</a>
  </div>
    <%= image_tag("computer-screen.png", width: 750, class:'computer-image')%>
      <div>
      <h3>Testing testing</h3>
      lasgdhlkasjdghlaskjdhglasdhg
      </div>
<div class='section-two'>
</div>
