// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  text-transform: uppercase;
}

.notifications {
  clear: both;
}

.nav-wrapper {
  height: 500px;
  background: #2C2B38;
}

.brand-logo {
  margin-left: 15px;
}

.page-content {
  padding: 20px;
}


nav {
    height: 100px;
    line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 30px;
    color: #2C2B38;
}


@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 30px;
        color: #2C2B38;
    }
}
#nav-mobile {
  margin: 36px 36px 0 0;

}
.hero {
  height: 500px;
  background: #454451;
  text-align: center;
  overflow:visible;
  margin-top: 40px;
}

.headline {
  color: white;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 35px;
}

.sub-headline {
  font-size: 14px;
  color: lightgray;
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

.section-two-copy {
  font-size: 14px;
  color: darkgray;
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

.buttons {
  margin-top: 30px;
}

.computer-image {
  width: 60%;
  margin: 30px 0 10px 0;
}

.section-two {
  display: clear;
  height: 400px;
  background: lightgray;
}

.section-three {
  height: 500px;
  background: lightgray;
}

.section-two-header {
  font-size: 30px;
}

.fa-github {
  color: white;
}

.navbar-fixed {
  background: #b8dfb8;
  color: #b8dfb8;
}

.footer {
  bottom: 0;
}

.page-footer {
  background: #2C2B38;
}

.tab-partial {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  height: 275px;
  padding: 20px;
  overflow:auto;
}

.glyphicon {
  font-size: 30px;
  color: #2bbbad;
}

.tab-copy {
  color: gray;
  margin-top: 20px;
}

.btn {
  margin-left: 10px;
}

.posted-ad {
  background: white;
  margin: 20px;
  padding: 20px;
}

.mailchimp-form {
  color: white;
  width: 50%;
  margin: 20px;
  padding: 20px;
  background:#454451;
}

.chart-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-chart {
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 500px;
  text-align:center;
}

.card-action {
  text-align: center;
}

.chart-title {
  text-align: center;
  font-size: 50px;
}

.dashboard-stats {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
  background: lightgray;
}

.header-stats {
  width: 50%;
  color: #2bbbad;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboard-title {
  text-align: center;
}

.ads-list-area {
  background: white;
  height: 300px;
  margin-top: 20px;
  padding-top: 20px;
}

.card-title {
  text-align: center;
}

.card-content {
  text-align: center;
}

.ad-card {
  max-width: 275px;
  margin: 20px;
  height: 430px;
}

.ad-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ad-list-container {
  padding: 40px;
}


.available-ad-card {
  width: 250px;
  margin: 10px;
  color: white;
}

.ad-inventory-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.ad-card-title {
  font-size: 20px;
  color: #2C2B38;
  padding: 10px;
}

.no-ads-notice {
  text-align:center;
  margin: 20px;
  font-weight: bold;
  color: gray;
}

@media only screen and (max-width: 601px){
    .computer-image {
        width: 95%;
    }
}

.event_image_container {
	padding-top: 15px;
}

.event_image {
	border-radius: 50%;
	height: 150px;
}

.image-for-card {
  width: 100%;
  height: 220px;

 }

.little-button {
 /* max-width: 50px;*/
  height: 32px;
  font-size: 12px !important;
}







