<footer class="page-footer">
    <a href="https://github.com/Ryan-Wilkinson/playbillify">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a> &nbsp; Created at General Assembly WDI9
    <br>
    <br>
</footer>
