<footer class="page-footer">
  <div class="container">
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a href="https://github.com/Ryan-Wilkinson/playbillify">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
       &nbsp; General Assembly ATL WDI9
    </div>
  </div>
</footer>
